---
layout: layout
---

<div class="ebook-page-container">
  <div class="ebook-copy">
    <p>{{ title }} </p>
    <p class="copy-paragraph">{{ content }}</p>
  </div>
  <div class="ebook-image">
    {% if image %}
      {% assign currentBookSlug = page.filePathStem | split: "/" | slice: 2, 1 | join: "" %}
      <img src="/ebooks/{{ currentBookSlug }}/images/{{ image }}" alt="{{ title }}">
    {% else %}
      <img src="https://placehold.co/400x400/f81e00/01070b" alt="Placeholder Image">
    {% endif %}
  </div>
</div>

{% assign currentBookSlug = page.filePathStem | split: "/" | slice: 2, 1 | join: "" %}
{% assign bookWithChapters = collections.booksWithChapters | where: "book.slug", currentBookSlug | first %}
{% assign chapter = bookWithChapters.chapters | where: "url", page.url | first %}
{% assign previousChapter = chapter.previous %}
{% assign nextChapter = chapter.next %}
{% assign isFirstChapter = chapter.index == 0 %}
{% assign isLastChapter = chapter.index == bookWithChapters.chapters.size | minus: 1 %}

<div class="nav-container">
  {% if isFirstChapter %}
    <div class="nav-button">
      <a href="../../table-of-contents/"><i class="gg-arrow-left"></i></a>
    </div>
  {% else %}
    {% if previousChapter %}
      <div class="nav-button">
        <a href="{{ previousChapter.url }}"><i class="gg-arrow-left"></i></a>
      </div>
    {% endif %}
  {% endif %}

  {% if nextChapter %}
    <div class="nav-button">
      <a href="{{ nextChapter.url }}"><i class="gg-arrow-right"></i></a>
    </div>
  {% endif %}
</div>