---
layout: layout
---

<div class="ebook-page-container">
  <div class="ebook-copy">
    <p>{{ title }} </p>
    <p class="copy-paragraph">{{ content }}</p>
  </div>
  <div class="ebook-image">
    {% if image %}
      {% assign currentBookSlug = page.filePathStem | split: "/" | slice: 2, 1 | join: "" %}
      <img src="/ebooks/{{ currentBookSlug }}/images/{{ image }}" alt="{{ title }}">
    {% endif %}
  </div>
</div>

{% assign currentBookSlug = page.filePathStem | split: "/" | slice: 2, 1 | join: "" %}
{% assign bookWithChapters = collections.booksWithChapters | where: "book.slug", currentBookSlug | first %}
{% assign chapter = bookWithChapters.chapters | where: "url", page.url | first %}
{% assign previousChapter = chapter.previous %}
{% assign nextChapter = chapter.next %}
{% assign isFirstChapter = chapter.index == 0 %}
{% assign isLastChapter = chapter.index == bookWithChapters.chapters.size | minus: 1 %}

<div class="nav-container">
  {% if isFirstChapter %}
    <a href="../../table-of-contents/">
      <div class="nav-button">
        <i class="gg-arrow-left"></i>
      </div>
    </a>
  {% else %}
    {% if previousChapter %}
      <a href="{{ previousChapter.url }}">
        <div class="nav-button">
          <i class="gg-arrow-left"></i>
        </div>
      </a>
    {% endif %}
  {% endif %}

  {% if nextChapter %}
    <a href="{{ nextChapter.url }}">
      <div class="nav-button">
        <i class="gg-arrow-right"></i>
      </div>
    </a>
  {% endif %}
</div>
