<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-right.css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-left.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-container">
        <a href="{{ pagination.href.first }}">
          <div>
            <img src="../../../img/logo.svg" alt="" />
          </div>
        </a>
      </div>
      <div class="page-title">
        <div>{{ chapter.data.title }}</div>
      </div>
      {% if pagination.pageNumber != 0 %}
        <div class="page-number">
          <div>{% if pagination.pageNumber == 1 %}TOC{% else %}{{ pagination.pageNumber | minus: 1 }}{% endif %}</div>
        </div>
      {% endif %}
    </div>
    <main>
      {{ content }}
    </main>
  </body>
</html>
