---
layout: layout
title: "Table of Contents"
---

<nav class="toc-container">
  <p>{{ title }}</p>
  <div class="toc-columns">
    {% assign currentBookSlug = page.filePathStem | split: "/" | slice: 2, 1 | join: "" %}
    {% assign count = 1 %}
    {% for bookWithChapters in collections.booksWithChapters %}
      {% if bookWithChapters.book.slug == currentBookSlug %}
        {% assign totalChapters = bookWithChapters.chapters | size %}
        {% assign itemsPerColumn = totalChapters | divided_by: 2 | ceil %}
        <div class="toc-column">
          {% for chapter in bookWithChapters.chapters %}
            {% if count <= itemsPerColumn %}
              <div class="chapter-item">
                <span class="chapter-count">{% if count < 10 %}0{% endif %}{{ count | append: ' ' }}</span>
                <div class="chapter-title-wrapper">
                  <a href="{{ chapter.url }}">{{ chapter.title }}</a>
                </div>
              </div>
            {% endif %}
            {% assign count = count | plus: 1 %}
          {% endfor %}
        </div>
        {% assign count = 1 %}
        <div class="toc-column">
          {% for chapter in bookWithChapters.chapters %}
            {% if count > itemsPerColumn %}
              <div class="chapter-item">
                <span class="chapter-count">{% if count < 10 %}0{% endif %}{{ count | append: ' ' }}</span>
                <div class="chapter-title-wrapper">
                  <a href="{{ chapter.url }}">{{ chapter.title }}</a>
                </div>
              </div>
            {% endif %}
            {% assign count = count | plus: 1 %}
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</nav>

<div class="nav-container">
  <a href="../cover/">
    <div class="nav-button">
      <i class="gg-arrow-left"></i>
    </div>
  </a>
  <a href="../chapters/chapter-1">
    <div class="nav-button">
      <i class="gg-arrow-right"></i>
    </div>
  </a>
</div>
